header { background-color: #EBDFBF; 
  color: #993637;
  font-size:160%;
text-align: center;
padding: 1rem;
  background-image: url("https://plus.unsplash.com/premium_photo-1675778644413-53825034abd1?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8YmlyZHMlMjBmbHlpbmd8ZW58MHx8MHx8fDA%3D.jpg");
  background-size: cover;
   background-position: center;
  background-repeat: no-repeat;
}
main { background-color: #EBDFBF; 
  color: #471C1C;
text-align: justify;
  font-family: Arial, sans-serif;
  font-size:160%;
  padding: 1.5rem;
  margin-bottom: 20px
}

footer {
  background-color: #EBDFBF;
  background-size:cover;
  background-position:center;
  text-align: center;
  padding: 2rem;
}